body {
    font-family: "Microsoft JhengHei", sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background: #f0f0f0;
}

td {
    height: 80px;
}

    td b {
        display: block;
        color: #2a6;
    }
